
html, body {
    height: 100%;
    margin: 0px;
  }

  body{
    text-align: center;
  }

header {
    background-color: rgb(193, 164, 237);
    padding: 20px 70px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 100;
    position: relative;; /* Cambia da 'top' a 'fixed' */
    top: 0;
    left: 0;
    right: 0;
}



/*********** Navigation Bar *************/

.navbar a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px;
    border-radius: 88px;


    background-color: rgb(67, 67, 67);
    color: antiquewhite;

    justify-content: right;
    margin-left: 10px;

}

.navbar a:hover{
    background-color: burlywood;
}



/***************** form *****************/
form {
    background-color:bisque;
    display: inline-block;
    padding: 20px 70px;
    border-radius: 88px;

}

input[type=text], input[type=email], input[type=password] {
    width: 280px; 
    height: 35px;
    margin: 5px;
    margin-left: 1px;
    padding: 0px;
    background-color: rgba(255,255,255,1.0);
    color: rgba(70,70,70,1.0);
    font-family: sans-serif;
    font-weight: light;
    font-size: 15px;
    border: 0.5px;
    cursor: pointer;
    border-radius: 88px;


  }


input[type="submit"] {
    margin-top: 10px; /* Spazio aggiunto sopra il pulsante */
    padding: 10px 20px;
    background-color: #c1e6d1;
    color: #252323;
    border: none;
    cursor: pointer;
    border-radius: 88px;

}

input[type="submit"]:hover{
    background-color: rgb(164, 143, 189);
    
}